.login-form{

	margin:auto auto;
	width:600px;
	height: 600px;
/*	border:  solid 1px;*/

}
.inform{
	border: dotted 1px;
	margin-top: 40%;
	border-radius: 20px;
	box-shadow: none;
	
}
#contentInput{
	width:400px;
	height:50px;
	font-size: 50px;
	border-radius: 5px;
}
.button{
	width:80px;
	height:50px;
}

.para-name{
	display: inline-block;
	width:150px;
	text-align: right;
	font-size: 50px;
}
